<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Matcher</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="route1.html" method="get">
        <button type="submit">Save</button>
    </form>

    <form action="route2.html" method="get">
        <button type="submit">View</button>
    </form>

    <form action="login.html" method="get">
        <button type="submit">Login</button>
    </form>
<!------------ Email validation ------------->
    <form action="/mail_validity" method="post">
        <label for="username">Email:</label><br>
        <input type="text" name="username" placeholder="Enter email here">
        <button type="submit">Validate mail</button>
    </form>
<!-- -------------------------------------- -->

<!-- Taking inputs -->
    <h1>Regex Matcher</h1>

    <form action="/results" method="post">
        <label for="regex_pattern">Regex Pattern:</label><br>
        <input type="text" name="regex_pattern" value="{{ regex_pattern }}" required><br>
    
        <label for="test_string">Test String:</label><br>
        <textarea name="test_string" rows="5" required>{{test_string}}</textarea><br>
    
        <button type="submit">Match</button>
    </form>
    <!-- --------------------- -->

    <!-- Printing Output -->
    
    {% if matches %}
    <h2>Matches:</h2>
    <h3>Total matched: {{ matches|length }}</h3>
        <ul>
            {% for match in matches %}
            <li>
                {{match}}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- ------------------ -->
</body>
</html>
