<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Matcher</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {{msg}}
    <!-- Login/logout button-->
    {% if username%}        
        <form action="/">
            {{username}}<button type="submit">Logout</button><br>
        </form>
        {% if matches %}
        <form action="/save">
            <button type="submit" name="action" value="save">Save</button>
        </form>
        {% endif %}
        <form action="/view">
            <button type="submit" name="action" value="view">View</button> 
        </form> 
    {% else%}
        <form action="/login">
            <button type="submit">Login</button>
        </form>
    {% endif%}
    <!-- -------------- -->
  
<!------------ Email validation button------------->
<section class="email_validation" methods="get">
    <form action="/mail_validity">
        <button type="submit">Validate mail</button>
    </form>
</section>

<!-- -------------------------------------- -->

<!-- Taking inputs -->
<section class="input_section">
    <h1 class="section_titile">Regex Matcher</h1>
    <form action="/results" method="post">
        <label for="regex_pattern">Regex Pattern:</label><br>
        <input type="text" name="regex_pattern" value="{{ regex_pattern }}" required><br>
    
        <label for="test_string">Test String:</label><br>
        <textarea name="test_string" rows="5" required>{{test_string}}</textarea><br>
    
        <button type="submit">Match</button>
    </form>
</section>
<!-- --------------------- -->

    <!-- Printing Output -->
<section class="output_section">
    {% if matches %}
    <h2>Matches:</h2>
    <h3>Total matched: {{ matches|length }}</h3>
        <ul>
            {% for match in matches %}
            <li>
                {{match}}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
<!-- ------------------ -->
</body>
</html>
